body{
	margin: 0;
	padding:0;
}

.navbar{
	z-index: 999;
	padding: 10px;
	background-color: #fff;

}

.navbar-brand{
	color: #2e2972;
	font-family: calibri;
	font-weight:400px;
	line-height:48px;
	font-size:35px;
}

.navbar-brand:hover{
	color: #2DCDDF;
}

.navbar-nav a{
	font-family: calibri;
	color: #02457A;
	font-weight:400px;
	font-size:25px;
	line-height:36px;
}

.navbar-nav a:hover{
	color: #2DCDDF;
}

.home{
	margin-top:150px;		
}

.text h2{
	font-size: 70px;
	font-weight:700;
	line-height: 97px;
	background: linear-gradient(90deg, #001B48 2.13%, rgba(2, 69, 122, 0.52) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.logo ul li{
	list-style: none;
	text-align:right;
	padding:10px 0px 20px 0px;	
}

.logo ul li a{
	color:#02457A;
}

.picture{
	background-image: url(Foto.jpg);
	width: 588px;
	height: 288px;
	background: cover;
	position: absolute;
	border-radius:10px ;
}

.picture p{
	padding-left:10px;
}

.box{
	background-color: #001b48;
	margin-top: 150px;

}

.box h3{
	text-align: center;
	margin-left: 550px;
	padding-top: 10px;
	font-weight: 400;
	font-size: 35px;
	line-height:42px;
	letter-spacing: 0.05em;
	color: #fff;
	font-family: calibri;
}

.isi{
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	padding: 50px 50px;
	color: #fff; 
	font-weight: 400;
	font-family: calibri;
}